/* .maindiv{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.formWrapper{
    background: #282a36;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    max-width: 90%;
}

footer{
    position: fixed;
    bottom: 0;
}
 
h2{
    color: #747bff;
}

.inputbox{
    display: flex;
    flex-direction: column;
}

.mainLabel{
    margin-bottom: 20px;
    margin-top: 0;
} */